.contactsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contactsContent p {
  text-align: center;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#contact-form {
  width: 100%;
}

#message {
  height: 200px;
}

.contactBtn {
  background: #cd5c5c;
  font-size: 22px;
  padding: 10px 30px;
  text-decoration: none !important;
  color: #fff !important;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid transparent;
  cursor: pointer;
}
.contactBtn:hover {
  background: #D9E2CF;
  color: #cd5c5c !important;
  border: 2px solid #cd5c5c;
}